.moves{
    display: flex;

    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1px;
    padding: 50px;
}
body{
    display: flex;
    flex-direction: column;
}

.gameBoard{
    display: flex;
    flex-direction: row;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    padding: 10px;
    color: white;
    align-items: center;
    justify-content: space-evenly;
    position: fixed;
    background-color: black;

}

.playerScore{
    color: green;
    font-size: 32px;
}

.computerScore{
    color: red;
    font-size: 32px;
}

#anouncement{
    font-size:x-large;
}

button{ 
    height:20rem;
    width: 20rem;
    background-color: white;
    border: 7px solid silver;
    border-radius: 5px;
    pointer-events: auto;
}

button:hover{
    border-color: yellow;
}

button:disabled{
    border-color: silver;
}

img{
    width: 100%;
    height: auto;;
    object-fit:cover;
    object-position: center;
}